@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; /*Tipo de letra*/
    --color-primario: #7D5FD2;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
/* Utilidades */
.encabezado{
    width: 100%;
    margin: 40px 0;
    text-align: center;
    font-size: 40px;
}
.padding{
    padding: 0 40px;
}
.fijo{
    position: fixed;
    width: 100%;
}
.fondo-nav{
    height: 90px;
}
.ocultar{
    display: none;
}
.mostrar{
    display: block;
}
.ver_mas{
    border: none;
    background-color: white;
    color: var(--color-primario);
    transition: all ease .2s;
}
.ver_mas:hover{
    transition: all ease .2s;
    cursor: pointer;
    color: blue;
}
/* Clases */
/* Navegador principal */
.nav-principal{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    box-shadow: 0 0 15px -10px;
}
.nav-principal img{
    height: 80px;
}
.nav-principal nav ul{
    display: flex;
    gap: 25px;
}
.nav-principal nav ul li a{
    text-transform: uppercase;
    color: var(--color-primario);
    font-weight: 600;
    font-size: 20px;
}
@media only screen and (max-width: 950px){
    .nav-principal nav ul li a{
        font-size: 18px;
    }
}
@media only screen and (min-width: 1400px) {
    .nav-principal nav ul li a{
        font-size: 22px;
    }
}
/*Seccion de inicio*/
.inicio{
    width: 100%;
}
.arte {
    width: 100%;
    height: 600px;
}
@media only screen and (max-width: 950px){
    .arte {
        height: 500px;
    }
}
@media only screen and (min-width: 1400px) {
    .arte {
        height: 850px;
    }
}
.arte video{
    object-fit: cover;  
    width: 100%;
    height:100%;
}
/* Seccion de cards */
.cards {
    display: flex;
    padding: 40px 0;
    justify-content: space-evenly;
}
.tarjeta{
    width: 300px;
    border: 3px solid rgb(206, 206, 206);
    border-radius: 5px;
}
.texto-card{
    padding: 20px;
}
.tarjeta img {
    width: 100%;
    border-bottom: 3px solid rgb(206, 206, 206);
}
