@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; /*Tipo de letra*/
    --color-primario: #7D5FD2;
    --color-borde-tarjetas: rgb(206, 206, 206);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
/* Utilidades */
.encabezado{
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.padding{
    padding: 0 40px;
}
@media only screen and (max-width:745px){
    .padding{
        padding: 0 20px;
    }
}
.fijo{
    position: fixed;
    width: 100%;
}
.fondo-nav{
    height: 90px;
    z-index: -1;
}
.ocultar{
    display: none;
}
.mostrar{
    display: block;
}
.ver_mas{
    border: none;
    background-color: transparent;
    color: var(--color-primario);
    transition: all ease .2s;
}
.ver_mas:hover{
    transition: all ease .2s;
    cursor: pointer;
    color: blue;
}
.contenedor_texto{
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.primera_letra{
    font-weight: 600;
    font-size: 120%;
    padding-left: 15px;
}
@media only screen and (max-width:745px){
    .contenedor_texto{
        padding: 0px 40px;
    }
}
.separador {
    width: 150px;
}
.boton {
    position: relative;
    border: 2px solid var(--color-primario);
    
}
/* Clases */
/* Navegador principal */
.nav-principal{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    box-shadow: 0 0 15px -10px;
}
.nav-principal img{
    height: 80px;
}
.nav-principal nav ul{
    display: flex;
    gap: 15px;
}
.link_principal{
    text-transform: uppercase;
    color: var(--color-primario);
    font-weight: 600;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    transform-origin: all ease .2s;
}
.link_principal:hover{
    background-color: var(--color-primario);
    color: white;
    transition: all ease .2s;
}
@media only screen and (max-width: 745px) {
    .nav-principal nav ul{
        display: none;
    }
}
@media only screen and (max-width: 950px){
    .nav-principal nav ul li a{
        font-size: 18px;
    }
}
@media only screen and (min-width: 1400px) {
    .nav-principal nav ul li a{
        font-size: 22px;    
    }
}
/* Navbar Hambuguesa desplegable */
.navbar_lateral {
    display: none;
}
@media only screen and (max-width:745px) {
    .navbar_lateral {
        height: 90px;
        display: flex;
        justify-content: end;
        align-items: center;
    }
}
.offcanvas-body ul {
    z-index: 1;
}
.offcanvas-title {
    font-weight: 700;
}
/*Seccion de inicio*/
.inicio{
    width: 100%;
}
.arte {
    width: 100%;
    height: 600px;
}
@media only screen and (max-width: 950px){
    .arte {
        height: 500px;
    }
}
@media only screen and (min-width: 1400px) {
    .arte {
        height: 850px;
    }
}
.arte video{
    object-fit: cover;  
    width: 100%;
    height:100%;
    pointer-events: none;
}
@media only screen and (max-width:745px) {
    .arte {
        height: 80%;
    }
}
/* Quienes somos */
.seccion{
    width: 100%;
    height: 100%;
    padding: 60px 0 20px 0;
}
.seccion h1 span{
    font-weight: bolder;
}
.seccion h2{
    font-size: 26px;
    margin: 30px 0;
}
.texto_nosotros{
    padding: 40px;
    background-color: rgba(230, 223, 223, 0.829);
    border-radius: 5px;
    border: 2px solid rgb(206, 206, 206);
}
@media only screen and (max-width:745px) {
    .texto_nosotros {
        padding: 30px 20px;
    }
}
/* Seccion de cards */
.cards {
    display: flex;
    padding: 40px 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.tarjeta{
    width: 250px;  
    height: 100%;
    border: 3px solid var(--color-borde-tarjetas);
    border-radius: 5px;
    transition: all ease .2s;
}
.tarjeta:hover{
    transition: all ease .2s;
    box-shadow: 0px 0px 20px 1px;
}
.texto-card{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.texto-card h3{
    font-size: 22px;
}
.texto-card p {
    font-size: 12px;
}
.tarjeta img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-bottom: 3px solid ;
    transition: all ease 0.4s;
    padding: 10px;
    background-color: var(--color-primario)
}
/* Parallax */
.paralax::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; /*Fija una imagen o fondo, el scroll se puede mover pero la imagen no se mueve de su posicion fija*/
    -webkit-filter: brightness(0.8);
    filter: brightness(0.7);
    z-index: -1;
  }
  .publicidad {
    margin-top: 40px;
    position: relative;
    height: 320px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    pointer-events: none;
  }
  .publicidad::before {
    content: "";
    background-image: url(https://cdn.pixabay.com/photo/2019/05/16/09/47/beach-4206784_1280.jpg);
  }
  .contenido-publicidad {
    position: relative;
    padding: 20px 0;
    width: 100%;
    z-index: -1;
  }
  .contenido-publicidad h3{
    width: 100%;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.3rem;
    transition: all .3s ease;
  }
  @media only screen and (max-width: 768px){
      .publicidad{
          height: 300px;
      }
      .contenido-publicidad h2{
          font-size: 1.5rem;
      }
}
/*Seccion de destacados */
.lugares{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 50px;
}
.lugar{
    border: 2px solid var(--color-borde-tarjetas);
    border-radius: 5px;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    transition: all ease .2s;
    background-color: #EAE4E4;
}
@media only screen and (max-width: 745px) {
    .lugar{
        flex-direction: column;
    }
}
.lugar:hover{
    transition: all ease .2s;
    box-shadow: 0px 0px 20px 1px;
}
.lugar img{
    width: 40%;
    min-height: 300px;
    object-fit: cover;
}
@media only screen and (max-width: 745px) {
    .lugar img{
        height: 270px;
        width: 100%;
    }
}
.lugar .contenido_texto h3{
    width: 100%;
    border-bottom: 4px solid var(--color-primario);
}
/* Seccion de footer */
.info_footer {
    background-color: var(--color-primario);
}
.caja {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
    color: white;
}
.caja img {
    width: 200px;
    height: 100%;
    object-fit: cover;
}
.copy{
    background-color: #2b1e4b;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;margin-bottom: 0;
    margin-bottom: -20px;
    padding: 10px 0;
    font-weight: 600;
}